.sidebar {
    height: 100%;
    width: 215px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(92, 3, 52);
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #cc1269;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

#imgpos {
    position: absolute;
    left: 41%;
    top: 12%;
    margin-left: -110px;
    margin-top: -100px;
}

h1 {
    color: rgb(233, 142, 225);
    position: relative;
    top: 20px;
    left: 40px;
}