        body {
            padding: 20px;
            margin: 20px;
            font-family: 'Playfair Display SC', serif;
        }

        #menu ul {
            padding: 10px;
            margin: -10px;
            float: left;
            width: 100%;
            background: linear-gradient(to left, rgba(36, 151, 218, 0.8) 0%, #11f0cb, rgba(26, 2, 245, 0.8) 40%, rgba(101, 138, 148, 0) 100%);
            list-style: none;
            font: 90% Tahoma;
        }

        #menu ul li {
            display: inline;
        }

        #menu ul li a {
            background-color: rgba(255, 255, 255, 0.8);
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 25px 10px;
            float: left;
        }

        #menu ul li a:hover {
            background-color: rgb(255, 255, 255);
            color: #414040;
            border-bottom: 10px solid #df43c5;
        }

        h1 {
            font-size: 50px;
            text-align: center;
            color: rgba(48, 4, 73, 0.8);
            font-family: 'Yeseva One', cursive;
        }

        h2 {
            font-size: 40px;
            text-align: center;
            color: rgba(48, 4, 73, 0.8);
            font-family: 'Yeseva One', cursive;
        }

        h3 {
            font-family: 'Yeseva One', cursive;
            font-size: 30px;
            color: rgba(99, 12, 150, 0.8);
        }

        h5 {
            font-size: 25px;
            text-align: center;
            color: rgba(70, 1, 32, 0.8);
        }

        h6 {
            font-size: 20px;
            text-align: center;
            color: rgba(0, 0, 0, 0.8);
        }

        .footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            top: 10%;
            background: linear-gradient(to left, rgba(36, 151, 218, 0.8) 0%, #11f0cb, rgba(26, 2, 245, 0.8) 40%, rgba(101, 138, 148, 0) 100%);
            color: rgba(42, 6, 71, 0.8);
            text-align: center;
        }

        #imgpos {
            position: absolute;
            left: 30%;
            top: 50%;
            margin-left: -110px;
            margin-top: -100px;
        }

        #logo {
            position: absolute;
            top: 15%;
            left: 80%;
            margin-left: -110px;
            margin-top: -100px;
        }

        #name {
            position: absolute;
            top: 25%;
            left: 90%;
            margin-left: -110px;
            margin-top: -100px;
        }

        table,
        th,
        td {
            border: solid 1px rgba(12, 33, 224, 0.8);
            border-collapse: collapse;
            padding: 1px;
        }

        th {
            text-align: center;
            font-size: 14pt;
            background-color: rgba(6, 137, 177, 0.8);
            color: white;
        }

        td {
            text-align: left;
        }

        p {
            max-width: 500px;
        }

        tbody#destaque:hover,
        tr:hover {
            background-color: rgba(149, 220, 233, 0.8);
        }

        tr:nth-child(odd) {
            background: rgba(101, 217, 233, 0.8)
        }

        #link a:link {
            color: #c2689f;
            text-decoration: none;
        }

        #link a:visited {
            color: #999999;
            text-decoration: none;
        }

        #link a:hover {
            color: #1a42f1;
            text-decoration: underline;
        }

        #link a:active {
            color: #032041;
            text-decoration: underline;
            background-color: #7ddaf1;
        }

        #famoso1 {
            background-color: rgb(195, 226, 230);
            margin: 3%;
            width: 300px;
            height: 150px;
            border: 1px dotted rgb(9, 22, 97);
            overflow: auto scroll;
            float: left;
        }

        #famoso2 {
            background-color: rgb(195, 226, 230);
            margin: 3%;
            width: 300px;
            height: 150px;
            border: 1px dotted rgb(9, 22, 97);
            overflow: auto scroll;
            float: left;
        }

        #famoso3 {
            background-color: rgb(195, 226, 230);
            margin: 3%;
            width: 300px;
            height: 150px;
            border: 1px dotted rgb(9, 22, 97);
            overflow: auto scroll;
            float: left;
        }

        #famoso4 {
            background-color: rgb(195, 226, 230);
            margin: 3%;
            width: 300px;
            height: 150px;
            border: 1px dotted rgb(9, 22, 97);
            overflow: auto scroll;
            float: left;
        }

        #famoso5 {
            background-color: rgb(195, 226, 230);
            margin: 3%;
            width: 300px;
            height: 150px;
            border: 1px dotted rgb(9, 22, 97);
            overflow: auto scroll;
            float: left;
        }